.articlesContainer {
  padding: 3% 3%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.cardsContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  max-width: 340px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-height: 120px;
  background-color: #fff;
}

.cardContent {
  padding-left: 10px;
}

.cardContent > h2 {
  color: #000;
}

.cardContent > p {
  line-height: 1.1rem;
  color: #666;
}

.cardContent h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px;
}

.cardContent p {
  font-size: 14px;
  margin: 0 0 10px;
}

.cardDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardDetails span {
  font-size: 12px;
  margin-right: 10px;
  color: #666;
}

@media screen and (max-width: 350px) {
  .card {
    flex-direction: column;
    padding: 0;
  }

  .cardImages {
    width: 100%;
  }

  .cardImages img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .cardContent {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .cardContent > p {
  }
}
