.layoutContainer {
  height: 100vh;
  max-height: max-content;
  overflow: auto;
  /* background-color: var(--bg-color); */
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  color: #d8d6d6;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menuModal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(33, 32, 32, 0.865);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.showModal {
  display: flex;
}

.modalCard {
  padding: 30px;
  box-sizing: border-box;
}

.modalCard li {
  margin-bottom: 40%;
  font-size: 30px;
  box-sizing: border-box;
}

.menuElements {
  text-align: center;
}
