.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.left p {
  font-size: 1.2rem;
}

.right a {
  font-size: 1.5rem;
  color: #fff;
}

.right{
  /* background-color: dodgerblue; */
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right a:hover {
  color: #ffa500;
}
